<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{style.css}">

    <title>Adventure Alley</title>
</head>
<body>
<div class="container-fluid">
    <div class="header">
        <div class="row">
            <a href="/index"><img class="logout" th:src="@{/Graphics/logout.png}" height="50" width="50"/></a>
            <img class="logo" th:src="@{/Graphics/logo.png}" th:height="221" th:width="394"/>
        </div>
    </div>
    <div class="container main">
        <div class="container activity-box">
            <h2 class="box-header">Tilføj Aktivitet</h2>
            <form method="post" th:action="@{/add_activity}">
                <div class="row activity-row">
                    <p class="col-md-4 activity-label">Aktivitetsnavn</p>
                    <input class="col-md-8" th:value="Minigolf" readonly> <!-- TODO: TH:VALUE -->
                </div>
                <div class="row activity-row">
                    <p class="col-md-4 activity-label">Pris</p>
                    <input class="col-md-8" id="price" readonly placeholder="0 Kr">
                </div>
                <div class="row activity-row">
                    <p class="col-md-4 activity-label">Dato</p>
                    <input type="date" class="col-md-8">
                </div>
                <div class="row activity-row">
                    <p class="col-md-4 activity-label">Tidspunkt</p>
                    <select class="col-md-8 activity-input"> <!-- TODO: TH:IF MINIGOLF -->
                        <option selected>Vælg</option>
                        <option>10.00-12.00</option>
                        <option>12.00-14.00</option>
                        <option>14.00-16.00</option>
                        <option>16.00-18.00</option>
                        <option>18.00-20.00</option>
                        <option>20.00-22.00</option>
                    </select>
                    <!-- <select class="col-md-8 activity-input"> TODO: TH:IF GOKART ELLER SUMO
                         <option selected>Vælg</option>
                         <option>10.00-11.00</option>
                         <option>11.00-12.00</option>
                         <option>12.00-13.00</option>
                         <option>13.00-14.00</option>
                         <option>14.00-15.00</option>
                         <option>15.00-16.00</option>
                         <option>16.00-17.00</option>
                         <option>17.00-18.00</option>
                         <option>18.00-19.00</option>
                         <option>19.00-20.00</option>
                         <option>20.00-21.00</option>
                         <option>21.00-22.00</option>
                     </select>

                     <select class="col-md-8 activity-input"> TODO: TH:IF PAINTBALL
                         <option selected>Vælg</option>
                         <option>10.00-11.30</option>
                         <option>11.30-13.00</option>
                         <option>13.00-14.30</option>
                         <option>14.30-16.00</option>
                         <option>16.00-17.30</option>
                         <option>17.30-19.00</option>
                         <option>19.00-20.30</option>
                         <option>20.30-22.00</option>
                     </select> -->
                </div>
                <div class="row activity-row">
                    <p class="col-md-4 activity-label">Antal deltagere</p>
                    <input class="col-md-8" id="people">
                </div>
                <div class="row activity-row">
                    <p class="col-md-4 activity-label">Bookingansvarlig</p>
                    <input class="col-md-8" th:value="Charlotte"> <!-- TODO: TH:VALUE -->
                </div>
                <div class="row activity-row activity-row-last">
                    <p class="col-md-4 activity-label">Aktivitetsansvarlig
                    </p>
                    <select class="col-md-8 activity-input"> <!-- TODO: TH:VALUES -->
                        <option selected>Vælg</option>
                        <option>Johnny</option>
                        <option>Peter</option>
                        <option>Christina</option>
                    </select>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" name="back_btn" class="btn btn-danger back_btn">TILBAGE</button>
                        <button type="submit" name="add_activity_btn" class="btn btn-success add_activity_btn">TILFØJ NY
                            AKTIVITET
                        </button>
                        <button type="submit" name="create_booking_btn" class="btn btn-success create_booking_btn">
                            OPRET
                        </button>
                    </div>
                </div>

            </form>
        </div>

    </div>
</div>


<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

<!-- Optional JavaScript -->

<!--Calculate price-->
<script type="text/javascript">
    $("#people").keyup(function () {
        var people = $('#people').val();
        var pricePerHour = 350;
        var result = people * pricePerHour;

        $('#price').val(result + " Kr");

    });

</script>


</body>
</html>