<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{style.css}">

    <title>Adventure Alley</title>
</head>
<body>
<div class="container-fluid">
    <div class="header">
        <div class="row">
            <a href="/index"><img class="logout" th:src="@{/Graphics/logout.png}" height="50" width="50"/></a>
            <img class="logo" th:src="@{/Graphics/logo.png}"/>
        </div>
    </div>
    <div class="container activity-list-box">
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4"><h2 class="box-header">Bookinger</h2></div>
            <div class="col-md-4"><input type="text" class="searchBox float-right form-control" id="searchBox" onkeyup="myFunction()"
                                         placeholder="Søg her"/></div>

        </div>

        <table class="col-md-12 text-center booking-list-header">
            <tr class="row">
                <th class="col-md-1">Nr</th>
                <th class="col-md-1">Aktiviteter</th>
                <th class="col-md-1">Kunde</th>
                <th class="col-md-2">Aktivitets arb</th>
                <th class="col-md-2">Booking arb</th>
                <th class="col-md-2">Dato</th>
                <th class="col-md-2">Tid</th>
                <th class="col-md-1">Antal personer</th>
            </tr>
        </table>

        <div class="booking-list">
            <form method="post" th:action="@{/add_activity}">
                <table class="col-md-12 text-center booking-list" id="table"> <!-- TODO: FOREACH til hver booking -->
                    <tr class="row" th:each="Booking: ${Bookings}">
                        <td class="col-md-1" th:text="${Booking.booking_id}"></td>
                        <td class="col-md-1" th:text="${Booking.activities}"></td>
                        <td class="col-md-1" th:text="${Booking.customer_name}"></td>
                        <td class="col-md-2" th:text="${Booking.activityEmployee}"></td>
                        <td class="col-md-2" th:text="${Booking.bookingEmployee}"></td>
                        <td class="col-md-2" th:text="${Booking.date}"></td>
                        <td class="col-md-2" th:text="${Booking.time}"></td>
                        <td class="col-md-1" th:text="${Booking.peopleCount}"></td>
                    </tr>
                </table>
            </form>
        </div>
        <!--<button type="submit" name="back_btn" class="btn btn-danger back_btn hot-btn">TILBAGE</button>-->
        <form method="post" action="/add_activity">
            <button type="button" name="back_btn" class="btn btn-danger back_btn" onclick="goBack()">TILBAGE</button>
        </form>


    </div>
</div>


<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

<!-- Optional JavaScript -->

<script>
    function myFunction() {
        var input = document.getElementById("searchBox");
        var filter = input.value.toUpperCase();
        var table = document.getElementById("table");
        var tr = table.getElementsByTagName("tr");
        for(i = 0; i < tr.length; i++){
            var tdActivity = tr[i].getElementsByTagName("td")[1];
            var tdDate = tr[i].getElementsByTagName("td")[5];
            var tdTime = tr[i].getElementsByTagName("td")[6];
            if(tdDate || tdTime){
                if(tdActivity.innerHTML.toUpperCase().indexOf(filter) > -1 || tdDate.innerHTML.toUpperCase().indexOf(filter) > -1 || tdTime.innerHTML.toUpperCase().indexOf(filter) > -1){
                    tr[i].style.display = "";
                }else{
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>


<!--Calculate price-->
<script type="text/javascript">
    $("#people").keyup(function () {
        var people = $('#people').val();
        var pricePerHour = 350;
        var result = people * pricePerHour;
        $('#price').val(result + " Kr");
    });
</script>

<script>
    function goBack() {
        window.history.back();
    }
</script>





</body>
</html>
