<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{style.css}">

    <title>Adventure Alley</title>
</head>
<body>
<div class="container-fluid">
    <div class="header">
        <div class="row">
            <a href="/index"><img class="logout" th:src="@{/Graphics/logout.png}" height="50" width="50"/></a>
            <img class="logo" th:src="@{/Graphics/logo.png}" th:height="221" th:width="394"/>
        </div>
    </div>

    <div class="container main">
        <div class="container activity-box2 heightauto">
            <h2 class="box-header">Tilføj Aktivitet</h2>
            <form method="post" th:action="@{/newActivity}">
                <div class="row activity-row">
                    <p class="col-md-4 activity-label margin-top-7px">Aktivitetsnavn</p>
                    <input class="col-md-8 input-enlarge" required th:field="${activity.activity_name}"> <!-- TODO: TH:VALUE -->
                </div>
                <div class="row activity-row">
                    <p class="col-md-4 activity-label margin-top-7px">Pris på aktivitet</p>
                    <input type="number" class="col-md-8 input-enlarge" required th:field="${activity.activity_price}">
                </div>
                <div class="row activity-row">
                    <p class="col-md-4 activity-label margin-top-7px">Udstyr</p>
                    <input type="number" class="col-md-8 input-enlarge" required th:field="${activity.equipment}">
                </div>
                <div class="row activity-row">
                    <p class="col-md-4 activity-label margin-top-7px">Aktivitetskrav</p>
                    <input class="col-md-8 input-enlarge" required th:field="${activity.requirements}" >
                </div>
                <div class="row activity-row">
                    <p class="col-md-4 activity-label margin-top-5px-negative">Varighed på aktivitet</p>
                    <input class="col-md-8 input-enlarge" required th:field="${activity.activity_duration}">
                </div>
                <div class="row row-top-40px">
                    <div class="col-md-12">
                        <button type="button" onclick="goBack()" name="back_btn_activity" class="btn btn-danger back_btn margin-left-30px">TILBAGE</button>
                        <button type="submit" name="create_activity_btn" class="btn btn-success create_booking_btn margin-right-30px">
                            OPRET AKTIVITET
                        </button>
                    </div>
                </div>

            </form>
        </div>

    </div>
</div>

<!-- JS -->

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script>
    function goBack() {
        window.history.back();
    }
</script>
</body>
</html>