<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{style.css}">
    <title>Adventure Alley</title>
</head>
<body>
<div class="container-fluid">
    <div class="header">
        <div class="row">
            <a href="/index"><img class="logout" th:src="@{/Graphics/logout.png}" height="50" width="50"/></a>
            <img class="logo" th:src="@{/graphics/logo.png}" th:height="221" th:width="394"/>
        </div>
    </div>
    <div class="container main">
        <div class="container activity-box">
            <h2 class="box-header">Admin</h2>
            <form method="post" th:action="@{/booking}">
                <div class="row">
                    <button type="submit" name="create_booking_btn" class="btn btn-lg btn-success owner-button">OPRET
                        BOOKING
                    </button>
                </div>
                <div class="row">
                    <button type="submit" name="edit_booking_btn" class="btn btn-lg btn-success owner-button">REDIGER BOOKING</button>
                </div>
                <div class="row">
                    <button type="submit" name="check_booking_btn" class="btn btn-lg btn-success owner-button">SE BOOKINGER</button>
                </div>
                <div class="row">
                    <button  type="submit" name="check_activity_btn"   class="btn btn-lg btn-success owner-button">TILFØJ AKTIVITET</button>
                </div>
                <div class="row">
                    <button type="submit" name="check_booking_btn" class="btn btn-lg btn-success owner-button">REDIGER AKTIVITET</button>
                </div>
                <div class="row">
                    <button type="submit" name="check_product_btn" class="btn btn-lg btn-success owner-button">OPRET PRODUKT</button>
                </div>
                <div class="row">
                    <button type="submit" name="check_prodlist_btn" class="btn btn-lg btn-success owner-button">SE PRODUKTER</button>
                </div>
            </form>
        </div>

    </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>
<!--th:href="@{add_activity}-->